@page
@model FinanceManager.ClientApp.Pages.ErrorModel

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Erro - Gerenciador Financeiro</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Erro.</h1>
            <h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>ID da Requisição:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Modo de Desenvolvimento</h3>
            <p>
                Mudando para o ambiente <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro que ocorreu.
            </p>
            <p>
                <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
                Isso pode resultar na exibição de informações sensíveis de exceções para os usuários finais.
                Para depuração local, habilite o ambiente <strong>Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Development</strong>
                e reiniciando o aplicativo.
            </p>
        </div>
    </div>
</body>

</html>